bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/!/Web/appsettings.Development.json
/Web/appsettings.Development.json

Web/syncit.db
Web/syncit.db-shm
Web/syncit.db-wal

.idea/.idea.SyncIT/.idea/developer-tools.xml
