@page "/"
@using SyncIT.Web.Blazor.Components.Settings.Services
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<MudTabs Elevation="2" Rounded="true" PanelClass="pa-6">
    <MudTabPanel Text="JSON File Stores">
        <JsonServiceSettings></JsonServiceSettings>
    </MudTabPanel>
    <MudTabPanel Text="Gamma Providers">
        <GammaServiceSettings></GammaServiceSettings>
    </MudTabPanel>
</MudTabs>
