@using SyncIT.Sync.Models
<div>

    @if (Before != null)
    {
        foreach (var item in Before)
        {
            if (After != null && !After.Contains(item))
            {
                <p style="background-color: red;">- @item.Email</p>
            }
            else
            {
                <p>@item.Email</p>
            }
        }


        if (After != null)
        {
            foreach (var item in After)
            {
                if (!Before.Contains(item))
                {
                    <p style="background-color: lime;">+ @item.Email</p>
                }
            }
        }
    }


</div>

@code {

    [Parameter] public ISet<EmailAddress>? Before { get; set; }
    [Parameter] public ISet<EmailAddress>? After { get; set; }


}